Repository vstconsulting/vstutils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py36-django22-install, py37-django22-coverage

code_style:
  stage: code_standarts
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: flake,pylint,jshint
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  ...

py36-django22-install:
  stage: test
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  ...

py37-django22-coverage:
  stage: test
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: $CI_BUILD_NAME
  before_script:
  - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
  ...

Added stubs for tools, models, config and auth + increased code coverage
  MANIFEST.in
  test_src/test_proj/tests.py
  vstutils/api/schema/generators.py
  vstutils/auth.pyi
  vstutils/config.pyi
  vstutils/models.py
  vstutils/models.pyi
  vstutils/tools.pyi
Due: code_style, py36-django22-install, py37-django22-coverage

Fix cythonized function inspection to model managers.
  vstutils/models.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add translation (en, ru) to main buttons (create, save, ect) on views (using vue-i18n).
  .jshintrc
  doc/redefine-front-end.rst
  test_src/test_proj/settings.py
  test_src/test_proj/tests.py
  test_src/test_proj/translations/__init__.py
  test_src/test_proj/translations/e_list.py
  test_src/test_proj/translations/ru.py
  vstutils/__init__.py
  vstutils/api/__init__.py
  vstutils/api/apps.py
  vstutils/api/migrations/0001_initial.py
  vstutils/api/migrations/__init__.py
  vstutils/api/models.py
  vstutils/api/routers.py
  vstutils/api/views.py
  vstutils/settings.py
  vstutils/static/css/gui.css
  vstutils/static/js/common-utils.js
  vstutils/static/js/guiApi.js
  vstutils/static/js/guiApp.js
  vstutils/static/js/guiCustomizer.js
  vstutils/static/js/guiFields.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiItems.js
  vstutils/static/js/guiRouter.js
  vstutils/static/js/guiUsers.js
  vstutils/static/js/libs/vue/vue-i18n.min.js
  vstutils/static/templates/guiFields.html
  vstutils/static/templates/guiItems.html
  vstutils/translations/__init__.py
  vstutils/translations/en.py
  vstutils/translations/ru.py
Due: code_style, py36-django22-install, py37-django22-coverage

Fix user permissions for LangViewSet.
  vstutils/__init__.py
  vstutils/api/views.py
Due: code_style, py36-django22-install, py37-django22-coverage

Change "Boolean value" to "Yes/No". Hide filter button, if there is no available filter. Add opportunity to add 'do_not_connect_with_another_views' prop in openapi_dictionary.
  vstutils/__init__.py
  vstutils/static/css/gui.css
  vstutils/static/js/guiApi.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiItems.js
  vstutils/static/js/guiViews.js
  vstutils/static/templates/guiFields.html
  vstutils/static/templates/guiItems.html
  vstutils/translations/ru.py
Due: code_style, py36-django22-install, py37-django22-coverage

Optimize `web` command settings with vstutils defaults
  vstutils/__init__.py
  vstutils/management/commands/web.py
  vstutils/web.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Flake fix with `Path.exists()` method
  vstutils/management/commands/web.py
Due: code_style

Optimize uswgi command to use with `dockerrun`.
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
  vstutils/management/commands/web.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add guiWidgets.card and add applying of CSS classes to list_view of guiField.choices.
  vstutils/__init__.py
  vstutils/settings.py
  vstutils/static/css/gui.css
  vstutils/static/js/guiDashboard.js
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/js/guiItems.js
  vstutils/static/templates/guiItems.html
Due: code_style, py36-django22-install, py37-django22-coverage

Fix api generator. (AttributeError: 'NoneType' object has no attribute 'split').
  vstutils/__init__.py
  vstutils/api/doc_generator.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add 'smart' rerendering of line chart.
  vstutils/__init__.py
  vstutils/static/css/gui.css
  vstutils/static/js/guiItems.js
Due: code_style, py36-django22-install, py37-django22-coverage

Hide to debug ldap auth.
  vstutils/__init__.py
  vstutils/auth.py
Due: code_style, py36-django22-install, py37-django22-coverage

Update celery, change to f-string
  requirements-doc.txt
  requirements-rpc.txt
  setup.py
  test_src/test_proj/models/files.py
  test_src/test_proj/tests.py
  vstutils/api/base.py
  vstutils/api/decorators.py
  vstutils/api/doc_generator.py
  vstutils/api/fields.py
  vstutils/api/filters.py
  vstutils/api/responses.py
  vstutils/api/routers.py
  vstutils/api/schema/generators.py
  vstutils/api/schema/inspectors.py
  vstutils/api/schema/schema.py
  vstutils/api/views.py
  vstutils/gui/context.py
  vstutils/ldap_utils.py
  vstutils/management/commands/_base.py
  vstutils/management/commands/dockerrun.py
  vstutils/management/commands/newproject.py
  vstutils/management/commands/web.py
  vstutils/models.py
  vstutils/settings.py
  vstutils/templatetags/request_static.py
  vstutils/templatetags/vstconfigs.py
  vstutils/tests.py
  vstutils/urls.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py37-django22-coverage

Drop python 3.5 support
  setup.cfg
  setup.py
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Update celery version
  requirements-rpc.txt
Due: py36-django22-install, py37-django22-coverage

Update kombu version
  requirements-rpc.txt
Due: py36-django22-install, py37-django22-coverage

Set strict version for celery, redis and kombu
  requirements-rpc.txt
Due: py36-django22-install, py37-django22-coverage

Add base TaskClass for celery tasks
  .coveragerc
  vstutils/tasks.py
Due: code_style, py36-django22-install, py37-django22-coverage

Resolve conflict with bulk_data that contain xml, add vscode config
  .gitignore
  .vscode/launch.json
  test_src/test_proj/tests.py
  vstutils/api/views.py
Due: code_style, py36-django22-install, py37-django22-coverage

Fix ci template
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py37-django22-coverage

Fix ci autorelease
  autorelease.sh
  setup.py
Due: py36-django22-install, py37-django22-coverage

Fix release versions
  .gitlab-ci.yml
  tox_build.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Fix copyrights
  NOTICE
  README.rst
  setup.cfg
Due: py36-django22-install, py37-django22-coverage

Add default VSCode launch config
  .gitignore
  .vscode/launch.json.default
Due: none

Minify js for service-worker.js and app-loaders + add File.readlines()
  requirements.txt
  test_src/test_proj/tests.py
  vstutils/__init__.py
  vstutils/gui/templates/gui/app-loader.js
  vstutils/gui/views.py
  vstutils/tests.py
  vstutils/tools.pyi
  vstutils/tools.pyx
Due: code_style, py36-django22-install, py37-django22-coverage

Refactoring py code and optimize bulk requests
  vstutils/api/views.py
  vstutils/auth.py
  vstutils/config.pyx
  vstutils/gui/views.py
  vstutils/static/js/libs/moment-timezone.min.js
Due: code_style, py36-django22-install, py37-django22-coverage

Fix double adminlte css loading
  vstutils/__init__.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add minification for html pages.
  requirements.txt
  vstutils/__init__.py
  vstutils/api/base.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py37-django22-coverage

Test cover classproperty decorator for setter
  test_src/test_proj/tests.py
  vstutils/auth.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py37-django22-coverage

Update drf to 3.11, readme description and support py 3.8
  .gitlab-ci.yml
  LICENSE
  README.rst
  requirements.txt
  setup.cfg
  tox.ini
  tox_build.ini
  vstutils/__init__.py
  vstutils/api/routers.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add logger for dockerrun.py
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py37-django22-coverage

Fix dockerrun f-strings misclicks
  tox.ini
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py37-django22-coverage

Refactoring classproperty decorator
  test_src/test_proj/tests.py
  vstutils/utils.py
Due: code_style, py36-django22-install, py37-django22-coverage

Resolve error with autocomplete field that can be null
  vstutils/static/js/guiFieldsMixins.js
  vstutils/static/templates/guiFields.html
Due: code_style

Update version of vstutils
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Update axios version.
  package.json
  yarn.lock
Due: none

Load libs required for docs from webpack bundle
  vstutils/doc_themes/vst-sphinx-theme/static/vst-style.css
  vstutils/doc_themes/vst-sphinx-theme/templates/layout.html
Due: code_style

Update version for fix build
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Path conditions:
  code_style: any of: vstutils/**/*, tox.ini, .pep8, .pylintrc, .gitlab-ci.yml
  py36-django22-install: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
  py37-django22-coverage: any of: vstutils/*.{py,pyx}, vstutils/api/**, vstutils/gui/*, vstutils/templatetags/*, test_src/**/*, .coveragerc, .pep8, .pylintrc, .gitlab-ci.yml, requirements*, setup.{cfg,py}, MANIFEST.in, tox.ini
