Repository vstconsulting/vstutils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: code_style, py36-django22-install, py37-django22-coverage

.gitlab-ci.yml:

# set to local images because too long execution
image: onegreyonewhite/tox:centos6


variables:
  GET_SOURCES_ATTEMPTS: 3
  ARTIFACT_DOWNLOAD_ATTEMPTS: 3
  RESTORE_CACHE_ATTEMPTS: 3
  DJANGO_LOG_LEVEL: 'CRITICAL'
  TOX_ARGS: "--workdir /cache/.tox_vstutils_${CI_BUILD_REF_NAME}"
  CC: "ccache gcc"

stages:
  - code_standarts
  - test
  - release


.branch_tests_template: &branch_tests
  stage: test
  image: onegreyonewhite/tox:tox
  variables:
    TOX_ENVS: "flake,pylint,jshint,py27-django-install,py35-django-install,py36-django-install"
  before_script:
    - if [ "${CI_BUILD_REF_NAME}" != "master" -a "${CI_BUILD_REF_NAME}" != "developer" ]; then export TOX_ARGS="--workdir /tmp/.tox_polemarchplus_${CI_BUILD_REF_NAME}"; fi
  script:
   - tox -e $TOX_ENVS $TOX_ARGS
  except:
    refs:
    - tags
  only:
    refs:
      - master
      - merge_requests
    changes:
      - vstutils/*.{py,pyx}
      - vstutils/api/**
      - vstutils/gui/*
      - vstutils/templatetags/*
      - test_src/**/*
      - .coveragerc
      - .pep8
      - .pylintrc
      - .gitlab-ci.yml
      - requirements*
      - setup.{cfg,py}
      - MANIFEST.in
      - tox.ini


code_style:
  <<: *branch_tests
  stage: code_standarts
  variables:
    TOX_ENVS: "flake,pylint,jshint"
  only:
    refs:
      - master
      - merge_requests
    changes:
      - vstutils/**/*
      - tox.ini
      - .pep8
      - .pylintrc
      - .gitlab-ci.yml

py36-django22-install:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"

py37-django22-coverage:
  <<: *branch_tests
  image: onegreyonewhite/tox:ubuntu
  variables:
    TOX_ENVS: "$CI_BUILD_NAME"


pages:
  <<: *branch_tests
  stage: release
  variables:
    TOX_ENVS: "builddoc"
  after_script:
    - mv doc/_build/html public
  artifacts:
    paths:
    - public
  only:
    refs:
      - master

release:
  stage: release
  image: onegreyonewhite/tox:tox
  only:
    refs:
      - master
    variables:
      - $GIT_ACCESS_USER
      - $GIT_ACCESS_PASSWORD
  before_script:
    - url_host=`echo "${CI_REPOSITORY_URL}" | sed -e "s/https:\/\/gitlab-ci-token:.*@//g"`
    - git config user.name "${GITLAB_USER_NAME}"
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git remote set-url origin "https://${GIT_ACCESS_USER}:${GIT_ACCESS_PASSWORD}@${url_host}"
  script:
    - bash autorelease.sh

.release_pypi_template: &release_pypi
  stage: release
  only:
    refs:
      - tags
    variables:
      - $PYPI_UPLOAD_PASSWORD
      - $PYPI_UPLOAD_NAME
  script:
   - tox -c tox_build.ini -e ${CI_BUILD_NAME},auditwheel
   - twine upload -u ${PYPI_UPLOAD_NAME} -p ${PYPI_UPLOAD_PASSWORD} $(find dist/*.{tar.gz,whl})
  allow_failure: true

py35-build:
  <<: *release_pypi

py35-wheel:
  <<: *release_pypi

py36-wheel:
  <<: *release_pypi

py37-wheel:
  <<: *release_pypi

Delete unnecessary UserViewSet validation. Rewrite `errorToString` function. Add for models additional ViewField
  vstutils/__init__.py
  vstutils/api/views.py
  vstutils/static/js/guiModels.js
  vstutils/static/js/guiPopUp.js
Due: code_style, py36-django22-install, py37-django22-coverage

Add trottling for `/api/health`.
  vstutils/api/views.py
  vstutils/management/commands/dockerrun.py
  vstutils/settings.py
Due: code_style, py36-django22-install, py37-django22-coverage

Update acorn version
  yarn.lock
Due: none

Update minimist version
  yarn.lock
Due: none

Bump acorn from 6.4.0 to 6.4.1
  yarn.lock
Due: none

Fix babel requirements
  package.json
  webpack.config.js
  yarn.lock
Due: none

Load fields and fields mixins using webpack
  frontend_src/app.common.js
  frontend_src/auth.js
  frontend_src/doc.js
  frontend_src/libs/bootstrap-select.js
  frontend_src/vstutils/fields/guiFieldsMixins.js
  package.json
  vstutils/__init__.py
  yarn.lock
Due: code_style, py36-django22-install, py37-django22-coverage

Allow to disable html minificator in class
  vstutils/__init__.py
  vstutils/gui/views.py
Due: code_style, py36-django22-install, py37-django22-coverage

Dont override yarn.lock on install package
  setup.py
Due: py36-django22-install, py37-django22-coverage

Fix docs building
  tox.ini
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Resolve problems with choices initial value
  frontend_src/vstutils/fields/guiFieldsMixins.js
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Fix bulk transaction error
  vstutils/__init__.py
  vstutils/api/views.py
Due: code_style, py36-django22-install, py37-django22-coverage

Issue/fontawesome
  frontend_src/vstutils/api/openapi.js
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Resolve issue jsmin minification breaks bundle
  setup.py
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Try to fix `static_exclude_min` on build
  setup.py
  vstutils/__init__.py
Due: code_style, py36-django22-install, py37-django22-coverage

Remove recursive glob for templates
  setup.py
Due: py36-django22-install, py37-django22-coverage

Make `static_exclude_min` on build check by regex
  setup.py
Due: py36-django22-install, py37-django22-coverage

Fix (again) filematch for static minificator
  setup.py
  tox.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Add jsmin to install building
  tox.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Resolve health throttle rate problem
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py37-django22-coverage

Add auth entry to reset password form
  vstutils/gui/templates/registration/base.html
  vstutils/gui/templates/registration/password_reset_form.html
Due: code_style

Add ssl, from_address to dockerrun
  vstutils/__init__.py
  vstutils/management/commands/dockerrun.py
Due: code_style, py36-django22-install, py37-django22-coverage

Gzip all staticfiles include bundles
  setup.py
Due: py36-django22-install, py37-django22-coverage

Forget password page
  vstutils/__init__.py
  vstutils/gui/templates/registration/password_reset_confirm.html
Due: code_style, py36-django22-install, py37-django22-coverage

Fix autorelease
  setup.py
Due: py36-django22-install, py37-django22-coverage

Return default template for swagger ui
  vstutils/gui/templates/drf-yasg/swagger-ui.html
  vstutils/static/drf-yasg/swagger-ui-dist/swagger-ui-vstutils.css
  vstutils/static/rest_framework/js/csrf.js
Due: code_style

`Sign Up` page improvement
  vstutils/gui/templates/auth/base.html
  vstutils/static/auth/main.css
Due: code_style

Auto change current year in doc + new build image
  .gitlab-ci.yml
  doc/conf.py
Due: code_style, py36-django22-install, py37-django22-coverage

Use vstconsulting/images:build in CI
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py37-django22-coverage

Restore to vstconsulting/images:tox usage
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py37-django22-coverage

Optimize CI performance
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py37-django22-coverage

Improve CI performance
  .gitlab-ci.yml
Due: code_style, py36-django22-install, py37-django22-coverage

Fix contrib environment
  .gitignore
  tox.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Migrate build to centos 7 and manylinux2014
  .gitlab-ci.yml
  include/_config.h
  setup.cfg
  tox_build.ini
Due: code_style, py36-django22-install, py37-django22-coverage

Add new endpoint for openapi and bulk requests
  .jshintrc
  frontend_src/app.common.js
  frontend_src/spa.js
  frontend_src/vstutils/api/ApiConnector.js
  frontend_src/vstutils/fields/guiFields.js
  frontend_src/vstutils/models/Model.js
  frontend_src/vstutils/querySet/QuerySet.js
  frontend_src/vstutils/views/ViewConstructor.js
  package.json
  setup.py
  test_src/test_proj/settings.py
  test_src/test_proj/tests.py
  test_src/test_proj/views.py
  vstutils/__init__.py
  vstutils/api/decorators.py
  vstutils/api/endpoint.py
  vstutils/api/routers.py
  vstutils/api/serializers.py
  vstutils/api/validators.py
  vstutils/gui/context.py
  vstutils/gui/templates/gui/base.html
  webpack.config.js
  yarn.lock
Due: code_style, py36-django22-install, py37-django22-coverage

Remove all ajax from login page
  vstutils/gui/templates/auth/base.html
Due: code_style

Add gzip to responses
  vstutils/web.ini
Due: code_style
